 :host li.active {
    color: wheat;
  }
body {
  font-family: SansSerif;
}
 header {
   .right-element {

   }
   .headline{
     font-size: 4em;
   }
   div {
     background-color: #4267b2;
     color: white;
     display: flex;
   }
 }

